@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>






<form asp-page-handler="view" asp-page="./contact" method="post">
    <button class="btn btn-info form-control text-white">View</button>
    <input type="hidden" name="id" value="3" />
</form>

